@media (prefers-color-scheme: dark) {
  :root {
    --card-bg: var(--neutral-weaker);
  }
}

:root {
  --card-bg: var(--neutral-weakest);
  --card-border: var(--neutral-weaker);
  --card-shadow: 0 2px 8px 0 var(--neutral-weaker);
  --card-title: var(--neutral-default);
  --card-text: var(--neutral-default);
  --card-muted: var(--neutral-weak);
}
.custom-card-list {
  background: var(--card-bg);
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid var(--card-border);
  padding: 0.75rem 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.custom-card-list.no-border {
  border-bottom: none;
}

/* Classic card: rounded, shadow */
.custom-card {
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--card-border);
  padding: 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* min-width: 250px; */
}

.card-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--card-title);
}

.card-body {
  flex: 1;
  margin-bottom: 1.5rem;
  color: var(--card-text);
}

.card-action {
  display: flex;
  justify-content: flex-end;
}
