#root {
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

.read-the-docs {
  color: #888;
}

.description {
  color: #555;
  font-size: 1em;
  margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
  .description {
    color: #fff;
  }
}
