#root {
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.description {
  color: #555;
  font-size: 1em;
  margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
  .description {
    color: #ffe6c7;
  }
}
